body {
	width: 100%;
	height: 100%;
}

main {
	max-width: 1920px;
	margin: 0 auto;
}

.header-jpeg {
	position: fixed;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
	width: 100%;
	height: 100px;
	background-image: url('./../../assets/images/header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

.content-jpeg {
	z-index: 5;
	margin-top: -150px;
	height: 4400px;
	width: 100%;

	&-bar {
		height: 150px;
		background-image: url('./../../assets/images/bar.png');
		background-repeat: no-repeat;
		background-position: top center;
	}

	&-main{
		height: 4400px;
		background-image: url('./../../assets/images/main.jpg');
		background-repeat: no-repeat;
		background-position: top center;
	}
}

.content-invision-link {
	display: block;
	width: 100%;
	height: 100%;
}
